doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Русалочка - музыкальный спектакль
    meta(name="description" content="Музыкальный спектакль «Удивительная история Русалочки» — незабываемое шоу по известной сказке с авторскими костюмами, яркими декорациями и живым вокалом")
    meta(name="keywords" content="музыкальный спектакль Краснодар")
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
    script(src="js/wow.min.js")
    script.
     new WOW().init();
  body

    main
      block content

    footer.main-footer
      .grid.grid--container
        .row
          .col.col--xl-6
            .copyright
              span Copyright © 2017
          .col.col--xl-6
            a(href="https://vk.com/robotcigan" target="_blank").author Разработал Арсений Иванов


  script(src="js/jquery.min.js")
  script(src="js/slick.min.js")
  script(src="js/jquery.magnific-popup.min.js")
  script(src="js/masonry.pkgd.min.js")
  script(src="js/main.js")