extends layout.pug

block content
  .hero.hero--inner.offset
    header.main-header
      .grid.grid--container
        .row.row--xs-center
          .col.col--xs-3
            a(href="/").logo Русалочка
    .hero__align
      .hero__content.wow.fade
        h2.hero__header Новости


  .grid.grid--container
    .row
      .col.col--sm-8.col--sm-offset-2
        article.article
          header.article__header
            h1.h1 Продажа билетов открыта
            time.article__time 20.05.2017
          section.article__body
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque fuga illo eaque tempora, asperiores consequuntur minus officiis, exercitationem autem laudantium consequatur sunt quam, vel ipsa.
        .masonry
          -for(var y = 1; y < 6; y++)
            .masonry__column
              a(href="img/team/" + y + ".jpg")
                img(src="img/team/" + y + ".jpg", alt="")