extends layout.pug

block content
  .hero.hero--inner.offset
    header.main-header
      .grid.grid--container
        .row.row--xs-center
          .col.col--xs-3
            a(href="/").logo Русалочка
    .hero__align
      .hero__content.wow.fade
        h2.hero__header Новости


  .grid.grid--container
    //- .row
      //- .col.col--sm-8.col--sm-offset-2
      //-   .video.offset.fade
      //-     iframe(src="https://www.youtube.com/embed/lOn86mGaKA8?ecver=1" frameborder="0" allowfullscreen)
    .about.offset.fade.wow
      .about__img
        img(src="img/about.jpg", alt="")
      .about__text
        h3.h3 О спектакле
        p Музыкальный спектакль «Удивительная история Русалочки» — незабываемое шоу по известной сказке с авторскими костюмами, яркими декорациями, живым вокалом и прекрасной хореографией сможет удивить не только детей, но и взрослых. Более 2 часов музыки и танца, 50 артистов, более 100 костюмов и 20 видео декораций.
        p Это яркий мюзикл с участием профессиональных и непрофессиональных артистов, а также людей с дополнительными физическими потребностями — участников международных творческих фестивалей и конкурсов.


    


  .grid.grid--container.grid--no-gutters
    .troupe.wow.fade.offset
      .center
        h3.h3 Труппа
      .row.row--no-gutters
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/1.jpg')")
            .item__name Роман Бурдеев
            .item__role Рассказчик
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/2.jpg')")
            .item__name Валерия Аверченкова
            .item__role Девочка
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/3.jpg')")
            .item__name Алена Лещенко
            .item__role Русалочка / сестра Русалочки
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/4.jpg')")
            .item__name Анастасия Дубровская
            .item__role Русалочка / Принцесса
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/5.jpg')")
            .item__name Владимир Покуль
            .item__role Принц
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/6.jpg')")
            .item__name Светлана Герус
            .item__role Морская ведьма
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/7.jpg')")
            .item__name Павел Гайденко 
            .item__role Краб
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/8.jpg')")
            .item__name Алексей Сазонов 
            .item__role Тритон
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/9.jpg')")
            .item__name Александр Ли 
            .item__role Рыбка
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/10.jpg')")
            .item__name Александр Дорофеев 
            .item__role Чайка/Моряк
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/11.jpg')")
            .item__name Екатерина Смык 
            .item__role Морская ведьма в человеческом обличии
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/12.jpg')")
            .item__name Алексей Королев 
            .item__role Повар
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/13.jpg')")
            .item__name Ольга Малахова  
            .item__role Сестра Русалочки / Принцесса
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/14.jpg')")
            .item__name Татьяна Алексеенко
            .item__role Сестра Русалочки / Принцесса
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/15.jpg')")
            .item__name Юлия Хаджоглова
            .item__role Сестра Русалочки / Принцесса
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/16.jpg')")
            .item__name Ксения Якимова 
            .item__role Сестра Русалочки / Принцесса
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/17.jpg')")
            .item__name Аделаида Авакян 
            .item__role Сестра Русалочки / Принцесса
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/18.jpg')")
            .item__name Наталья Зайцева 
            .item__role Сестра Русалочки / Принцесса
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/19.jpg')")
            .item__name Максим Красношапко 
            .item__role Придворный советник
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/20.jpg')")
            .item__name Альфред Гумеров 
            .item__role Моряк
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/21.jpg')")
            .item__name Артем Еременко 
            .item__role Моряк
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/22.jpg')")
            .item__name Игорь Атабеков 
            .item__role Моряк
        .col.col--xl-2.col--lg-3.col--md-4.col--sm-4.col--xs-6.col--no-gutters
          .troupe__item.item
            .item__img(style="background: url('img/troupe/23.jpg')")
            .item__name Хор «Легенда»


  .wow.fade.offset
    .center
      h3.h3 Организатор
    .grid.grid--container
      .row
        .col.col--sm-8.col--sm-offset-2
          .organisator
            img(src="img/organisator.png", alt="")

  
  .wow.fade
    .center
      h3.h3 творческая группа

    .team.slider.offset
      .team__slide
        .team__img(style="background-image: url('img/team/1.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Покуль Владимир
        .team__position Режиссёр, хореограф
        .team__link
          a(href="https://vk.com/pokulvo" target="_blank") https://vk.com/pokulvo
      .team__slide
        .team__img(style="background-image: url('img/team/2.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Виталий Ганеев 
        .team__position Помощник режиссёра
        .team__link
          a(href="https://vk.com/vitalyganeev" target="_blank") https://vk.com/vitalyganeev
      .team__slide
        .team__img(style="background-image: url('img/team/3.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Диана Урманова 
        .team__position Помощник режиссёра 
        .team__link
          a(href="https://vk.com/uma29" target="_blank") https://vk.com/uma29
      .team__slide
        .team__img(style="background-image: url('img/team/4.jpg')")
          //- img(src="img/team/4.jpg", alt="")
        .team__name Тамара Рыльская 
        .team__position Композитор («Торжество ведьмы»), педагог по вокалу 
        .team__link
          a(href="https://vk.com/id257043850" target="_blank") https://vk.com/id257043850
      .team__slide
        .team__img(style="background-image: url('img/team/5.jpg')")
          //- img(src="img/team/5.jpg", alt="")
        .team__name Герман Рыльский 
        .team__position Автор текстов песен («Шторм», «Торжество ведьмы») педагог по вокалу 
        .team__link
          a(href="https://vk.com/russianfolk" target="_blank") https://vk.com/russianfolk
      .team__slide
        .team__img(style="background-image: url('img/team/6.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Алексей Королёв 
        .team__position Аранжировщик, педагог по вокалу 
        .team__link
          a(href="https://vk.com/aleksey_korolev82" target="_blank") https://vk.com/aleksey_korolev82
      .team__slide
        .team__img(style="background-image: url('img/team/7.jpg')")
          //- img(src="img/team/7.jpg", alt="")
        .team__name Татьяна Масленникова 
        .team__position Хореограф 
        .team__link
          a(href="https://vk.com/maslennikova.tania" target="_blank") https://vk.com/maslennikova.tania
      .team__slide
        .team__img(style="background-image: url('img/team/8.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Дарья Прыгунова 
        .team__position Хореограф, костюмер, мастер по причёскам (дворцовая тема) 
        .team__link
          a(href="https://vk.com/diarr" target="_blank") https://vk.com/diarr
      .team__slide
        .team__img(style="background-image: url('img/team/9.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Алина Рожкова 
        .team__position Хореограф, костюмер, мастер по причёскам (дворцовая тема) 
        .team__link
          a(href="https://vk.com/evacuatio.animae" target="_blank") https://vk.com/evacuatio.animae
      .team__slide
        .team__img(style="background-image: url('img/team/10.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Анна Тюгина 
        .team__position Гримёр 
        .team__link
          a(href="https://vk.com/satella13" target="_blank") https://vk.com/satella13
      .team__slide
        .team__img(style="background-image: url('img/team/11.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Факультет архитектуры и дизайна КубГУ 
        .team__position Костюмеры, художники по костюмам 
        .team__link
          a(href="https://kubsu.ru/ru/fad" target="_blank") https://kubsu.ru/ru/fad
      .team__slide
        .team__img(style="background-image: url('img/team/12.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Татьяна Алексеенко 
        .team__position Графический дизайнер 
        .team__link
          a(href="https://vk.com/id2699025" target="_blank") https://vk.com/id2699025
      .team__slide
        .team__img(style="background-image: url('img/team/13.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Виктор Соколов 
        .team__position Фотограф 
        .team__link
          a(href="https://vk.com/elhalcone" target="_blank") https://vk.com/elhalcone
      .team__slide
        .team__img(style="background-image: url('img/team/14.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Константин Плохотников 
        .team__position Фотограф, видеограф  
        .team__link
          a(href="https://vk.com/rockm" target="_blank") https://vk.com/rockm
      .team__slide
        .team__img(style="background-image: url('img/team/15.jpg')")
          //- img(src="img/team/1.jpg", alt="")
        .team__name Ольга Малахова 
        .team__position Редактор
        .team__link
          a(href="https://vk.com/omalakhova" target="_blank") https://vk.com/omalakhova

  //- .grid.grid--container
  //-   h3.h3 Новости
  //-   .news.offset

  .offset.wow.fade
    .center
      h3.h3 Партнеры проекта
    .partners.slider
      -for(var x = 1; x < 13; x++)
        .partner
          .partner__img
            img(src="img/partners/" + x + ".jpg", alt="")